@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application takes SBDB Close-Approach Data API data and processes/filters it. It is intended as a proof of concept.</p>
