@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This is a proof of concept. No user information will be stored. The site uses a cookie to retain user decisions which is not stored outside of the client computer.</p>
